// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Sen";
}

.q-table thead {
  background-color: #0000001f;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.q-table thead th {
  font-weight: 600;
}
