// app global css in SCSS form
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");

* {
  font-family: "Sen";

  @apply tw-scrollbar-thin tw-scrollbar-thumb-secondary/50 tw-scrollbar-track-transparent tw-scrollbar-thumb-rounded-xl;
}

.q-table thead {
  background-color: #0000001f;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.q-table thead th {
  font-weight: 600;
}
